<div class="table-wrapper">
    <table mat-table [dataSource]="data" class="data-table">
        @for (column of columns; track column.key) {
            <ng-container [matColumnDef]="column.key">
                <th mat-header-cell *matHeaderCellDef [class.align-center]="getCellAlignment(column) === 'center'"
                    [class.align-end]="getCellAlignment(column) === 'end'">
                    {{ column.header }}
                </th>
                <td mat-cell *matCellDef="let row" [class.align-center]="getCellAlignment(column) === 'center'"
                    [class.align-end]="getCellAlignment(column) === 'end'">
                    {{ resolveCellValue(row, column) }}
                </td>
            </ng-container>
        }

        @if (actions.length > 0) {
            <ng-container matColumnDef="__actions">
                <th mat-header-cell *matHeaderCellDef class="align-center">Ações</th>
                <td mat-cell *matCellDef="let row">
                    <div class="actions-cell">
                        @for (action of actions; track action.id) {
                            <button mat-icon-button type="button" [title]="action.label" [attr.aria-label]="action.label"
                                (click)="onActionClick(action.id, row)">
                                <mat-icon>{{ action.icon }}</mat-icon>
                            </button>
                        }
                    </div>
                </td>
            </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell empty-row" [attr.colspan]="displayedColumns.length">
                {{ emptyMessage }}
            </td>
        </tr>
    </table>
</div>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)" showFirstLastButtons />